<div class="container" ng-controller="CartController">
    <div class="row">
        <h2 style="text-align: center"><b>Libros dentro de tu carrito</b></h2>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Título</th>
                <th>ISBN</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in content">
                <td>{{item.book.title}}</td>
                <td>{{item.book.isbn}}</td>
                <td>{{item.quantity}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="text-align: center">
        <form>
            <button type="submit" ng-disabled="emptyCart()" ng-click="goToCheckout()" class="btn btn-primary btn-sm">Checkout</button>
        </form>
    </div>
</div>
