<div class="row" ng-controller="CheckoutCtrl">
    <div class="col-md-6 col-md-offset-3">
        <form name='checkoutForm' class="simple-form">
            <div ng-class="classRulesFor(checkoutForm.owner)">
                <input type="text"
                       name="owner"
                       class="form-group form-control"
                       placeholder="Nombre como aparece en la tarjeta"
                       ng-model="card.owner"
                       required="" ng-maxlength="29"
                />
                <div ng-show="checkoutForm.$submitted || checkoutForm.owner.$touched">
                    <span ng-show="checkoutForm.owner.$error.required" class="help-block">
                        Este campo es obligatorio
                    </span>
                    <span ng-show="checkoutForm.owner.$error.maxlength" class="help-block">
                        El nombre del dueño es demasiado largo
                    </span>
                </div>
            </div>
            <div ng-class="classRulesFor(checkoutForm.number)">
                <input type="text"
                       name="number"
                       class="form-group form-control"
                       placeholder="Número de tarjeta"
                       ng-model="card.number"
                       required ng-pattern="/^[0-9]{16}$/"
                />
                <div ng-show="checkoutForm.$submitted || checkoutForm.number.$touched">
                    <span ng-show="checkoutForm.number.$error.required" class="help-block">
                        Este campo es obligatorio
                    </span>
                    <span ng-show="checkoutForm.number.$error.pattern" class="help-block">
                        El número de la tarjeta debe estar compuesto por 16 dígitos
                    </span>
                </div>
            </div>

            <div class="form-group">
                Expiración de la tarjeta:
                <select name="expirationMonth" ng-model="card.expiration_date.month"
                        ng-options="month as month for month in months" required>
                    <option value="">Mes</option>
                </select>
                /
                <select name="expirationYear" ng-model="card.expiration_date.year"
                        ng-options="year as year for year in years" required>
                    <option value="">Año</option>
                </select>
            </div>
            <button type="submit" class="form-group form-control btn btn-primary" ng-click="checkout(card)">Checkout
            </button>
        </form>
    </div>
</div>
