<div class="jumbotron" >
  <div class="container" style="text-align: center">
    <div class="row">
      <h1 class="within-jumbo-text" style="color: #FFFFFF; text-shadow: 2px 2px 2px #3b3939;"><b>Un Catalogo, Miles de Mundos.</b></h1>
      <p class="within-jumbo-text" style="text-shadow: 1px 1px 1px #3b3939;">Consultá el libro que estas buscado.</p>
    </div>
    <br>
    <div class="row">
      <a class="btn btn-primary btn-sm" href="#/login">Loguearse</a>
    </div>
  </div>
</div>

<article class="col-xs-12 homepage-faqs-content" align="bottom">
  <div class="homepage-faqs-item faqs-item-header homepage-section-header " align="center">
    <h2 class="title" >¿Seguís con dudas?</h2>
    <p class="subtitle">Queremos ofrecerte el mejor servicio y la mejor experiencia</p>
  </div>

  <div class="col-md-3 homepage-faqs-item">
    <h4 class="faqs-item-title" ><font color="#0066FF">¿Puedo consultar todas las veces que quiera?</font></h4>
    <p class="faqs-item-text">Si, podés consultar todas las veces que quieras, sin restricciones. Podés consultar todos los días en cualquier momento.</p>
  </div>

  <div class="col-md-3 homepage-faqs-item">
    <h4 class="faqs-item-title"><font color="#0066FF">¿Puedo encontrar mi libro favorito?</font></h4>
    <p class="faqs-item-text">Claro que sí, de hecho también podés añadir libros a tu carrito y comprar con tarjeta</p>
  </div>

  <div class="col-md-3 homepage-faqs-item">
    <h4 class="faqs-item-title"><font color="#0066FF">¿Puedo ver mis ventas realizadas?</font></h4>
    <p class="faqs-item-text">Podés revisarlas en cualquier momento ingresando a tu perfil.</p>
  </div>

  <div class="col-md-3 homepage-faqs-item">
    <h4 class="faqs-item-title"><font color="#0066FF">¿Tengo periodo de prueba gratis?</font></h4>
    <p class="faqs-item-text">Te damos 14 días gratis para que pruebes Tus Libros, si ves que no es para vos, cancelás y listo. Si cancelás antes del día 15, no te hacemos ningún cobro.</p>
  </div>
</article>
